

ユーザー情報の編集</div>
<% @user.errors.full_messages.each do |message| %>
   <div class="formError">
      <%= message %>
    </div>
<% end %>

<%= form_for("/users/#{@user.id}/update") do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.submit "登録" %>

<% end %>