テスト show

  <div class="post-preview">
      <h2 class="post-title">
        <%= @user.name %>
      </h2>
    <p><%= @user.email %></p>
    <img src="<%= "/user_images/#{@user.image_name}" %>">
  </div>
  <hr>

<%= link_to("編集", "/users/#{@user.id}/edit") %>

<%= link_to("ユーザー一覧", "/users/index", class: "users-link") %>